package todo

import (
	"ikov/view/component"
	"ikov/model"
)

templ Show(todo model.Todo) {
    <h1 class="bg-red-500">Howdy</h1>
    <p>Hello { todo.Id }</p>
    @component.Input(component.InputProps{
        Type: "text",
        Name: "title",
    })
}
