package layout

templ Base() {
	<html>
		<head>
			<link href="/css/main.css" rel="stylesheet"/>
		</head>
		<body>
			This is from the base layout
			{ children... }
		</body>
	</html>
}

templ BaseWithComponent(cmp templ.Component) {
	<html>
		<head>
			<link href="/css/main.css" rel="stylesheet"/>
		</head>
		<body>
			@cmp
		</body>
	</html>
}
